/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.wrapper {
    height: 100vh;
    overflow-y: hidden;
}

a {
    display: block;
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}

/* font */

body {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: var(--main-bg-color);
    font-size: 80%;
} 


/* custom variables */

:root {
    --main-bg-color: #141821;
    --sidebar-bg-color: #000000;
    --footer-bg-color: #292929;
    --small-text: 80%;
    --big-text: 120%;

}


/* tools */

.debug {
    border: 1px solid red;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
}

.relativity {
    position: relative;
}

.uppercase {
    text-transform: uppercase;
}


/* flex tools  */

.felx {
    display: flex;
} 

.wrap {
    flex-wrap: wrap;
}

.just-cont-center {
    align-items: center;
}


/* assets */

header {
    position: fixed;
    background-color: #00000081;
    width: 100%;
    padding: 20px;
}

#up-content {
    display: flex;
    height: calc(100vh - 100px);
    width: 100%;
    flex: 1 1 auto;
}

#content {
    padding: 80px 20px 100px;
}

main{
    flex: 1 1 auto;
    overflow-y: auto;

}

#side-bar {
    background-color: var(--sidebar-bg-color);
    flex: 0 0 180px;
    padding: 20px;
    color: grey;
}

#up-bar, #down-bar {
    color: grey
}

footer {
    background-color: var(--footer-bg-color);
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    flex: 0 0 100px;
}

#down-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer, #down-content {
    height: 100px;

}

#footer-l, #footer-c, #footer-r {
    padding: 0 20px;
}

#exp {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    flex-wrap: wrap;   
}

.exp-link {
    padding: 0 10px;
    color: gray;
    font-weight: 800;
    font-size: 80%;
    padding-bottom: 20px;
}

.row {
    display: flex;
    padding: 10px 0;
    flex-wrap: wrap;
}

.col {
    padding: 10px;
    width: calc(100% / 6);
}

.img-box {
    padding-top: 10px;
}

.col>p, .col>h3 {
    text-align: center;
}

h3, p {
    margin: 10px 0;
}

h2 {
    margin: 10px 10px 0;
}

h1 {
    padding-bottom: 10px;
    color: white;
}

i {
    padding: 5px;
    font-size: 150%;
}

#menu {
    padding-bottom: 10px;
}

#playlist-menager

/* media query */

@media screen and (max-width: 992px) {

    .row {
        flex-wrap: wrap;
    }

    .col {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 768px) {

    .col {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 576px) {

    .col {
        width: calc(100% / 2);
    }
    #side-bar {
        flex: 0 0 20px;
    }
    .puf {
        display: none;
    }

    #menu>a>i {
        display: block;
    }
}





